@page "/chat"
@rendermode InteractiveServer

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<input @bind="content" placeholder="Message"/>
<button class="btn btn-primary" @onclick="SendMessage">Click me</button>

<ul>
    @foreach (Message M in messages)
    {
        <li>From: @M.Sender - @M.Content - @M.Timestamp</li>
    }
</ul>


@code {
    static string?          content     = "";
    static List<Message>    messages    = new(); 
    static WebClient        wc          = new("eoin");

    private void SendMessage()
    {
        if (content != "")
        {
            Message M = new(wc.Username, content, DateTime.Now);
            wc.SendMessage(M);
            content = "";
        }
    } 

    class WebClient(string username) : AbstractClient(username)
    {
        public override void ReceiveMessage(Message M)
        {
            messages.Add(M);
        }
    }

}
