@page "/chat"
@rendermode InteractiveServer
@inject WebAppClient WebAppClient

<PageTitle>Chat</PageTitle>

<h1>Chat</h1>

<input @bind="content" placeholder="Message"/>
<button class="btn btn-primary" @onclick="SendMessage">Click me</button>

<ul>
    @foreach (Message M in WebAppClient.MessageList)
    {
        <li>From: @M.Sender - @M.Content - @M.Timestamp</li>
    }
</ul>


@code {
    static string content = "";

    private void SendMessage()
    {
        if (content != "")
        {
            Message M = new(WebAppClient.Username, content, DateTime.Now);
            WebAppClient.SendMessage(M);
            content = "";
        }
    } 

}
