@page "/chat"
@using Share.Model
@inject NavigationManager Navigation
@inject Client Client
@implements IAsyncDisposable

<PageTitle>Chat</PageTitle>

<div class="form-group">
    <label>
        Message:
        <input @bind="messageInput" size="50" />
    </label>
</div>

<button @onclick="Send" disabled="@(!Client.IsConnected())">Send</button>

<hr>

<ul id="messagesList">
    @foreach (var message in Client.GetMessageList())
    {
        <li>@message.Sender @message.Content @message.Timestamp</li>
    }
</ul>

@code {
    private string? messageInput;

    protected override async Task OnInitializedAsync()
    {
        // IClient.OnMessageReceived += UpdateMessageList;
        await Client.StartConnection();
    }

    private void UpdateMessageList()
    {
        InvokeAsync(StateHasChanged);
    }

    private async Task Send()
    {
        if (messageInput != null)
        {
            Message message = new(Client.Username, messageInput, DateTime.Now);
            await Client.SendMessage(message);
            messageInput = "";
        }
    }

    public async ValueTask DisposeAsync()
    {
        // WebClient.OnMessageReceived -= UpdateMessageList;
    }
}
